<nav class="left-side-nav">
  <a href="/dashboard">Dashboard</a>
  <a href="/animal-profiles">Animal Profiles</a>
  <a href="/milk-production">Production Records </a>
  <a href="/expenses">Expenses</a>
  <a href="/vaccination">Vaccination</a>
  <a href="/medication">Medication</a>
  <a href="/feed-consumption">Feed Consumption</a>
  <a href="/farmer-profile">Farmer Profile</a>
  <a href="/settings">Settings</a>
</nav>